<!-- Example row of columns -->
<div class="row">
    <div class="col-md-3 block">
        <h2><%= __('Login') %></h2>
        <p><%= __('Login to your account') %></p>
        <form action="/u/login" method="post" id="loginform" enctype="application/x-www-form-urlencoded" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrftoken %>">
        <fieldset>
	        <label for="lemail" id="lnamelabel"><%= __('Nickname') %></label>
			<div class="input-group">
				<input type="text" class="form-control" id="lemail" name="lemail" title="<%= __('Your IPlog nickname (matches your personal email)') %>" placeholder="m.mustermann@example.com" required aria-describedby="lnamelabel">
				<span class="input-group-addon"></span>
			</div>
            <label for="password"><%= __('Password') %></label>
			<div class="input-group">
				<input type="password" class="form-control" id="password" name="password" required>
				<span class="input-group-addon"></span>
			</div>

			<div class="btn-group" role="group">
	            <input type="submit" class="btn btn-success" value="<%= __('Login') %>">
            </div>
        </fieldset>
        </form>
        <a href="/u/forgot"><%= __('Forgot password') %></a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 block" id="registrationblock">
        <h2><%= __('Register') %></h2>
        <p><%= __('Create a new account for free.') %></p>
         <form action="/u/register" method="post" id="registerform" enctype="application/x-www-form-urlencoded" autocomplete="off">
         <input type="hidden" name="_csrf" value="<%= csrftoken %>">
         <fieldset>
	        <label for="email" id="nameLabel"><%= __('Choose a new nickname') %></label>
			<div class="input-group">
				<span class="input-group-addon" id="nameStatus"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></span>
				<input type="email" class="form-control" id="email" name="email" title="<%= __('Choose a new IPlog nickname (matches your personal email)') %>" placeholder="m.mustermann@example.com" required aria-describedby="nameLabel">
			</div>

            <label for="password1"><%= __('Password') %></label>
			<div class="input-group">
				<span class="input-group-addon" id="pwd1Status"></span>
				<input type="password" class="form-control" id="password1" name="password" required>
			</div>

            <label for="password2"><%= __('Repeat Password') %></label>
			<div class="input-group">
				<span class="input-group-addon" id="pwd2Status"></span>
				<input type="password" class="form-control" id="password2" name="password2" required>
			</div>

			<div class="btn-group" role="group">
            	<input type="submit" class="btn btn-success" value="<%= __('Register') %>">
            </div>
         </fieldset>
      </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 block">
        <h2><%= __('Lookup') %></h2>
        <p><%= __('Use a token to lookup used ips of a given time and user') %></p>
        <form action="/ext/lookup" method="post" id="lookupform" enctype="application/x-www-form-urlencoded" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrftoken %>">
        <fieldset>
	        <label for="token" id="tokenlabel"><%= __('Token') %></label>
			<div class="input-group">
				<input type="text" class="form-control" id="token" name="token" title="<%= __('Token given to you') %>" placeholder="token" required aria-describedby="tokenlabel">
				<span class="input-group-addon"></span>
			</div>

			<div class="btn-group" role="group">
	            <input type="submit" class="btn btn-success" value="<%= __('Lookup') %>">
            </div>
        </fieldset>
        </form>
    </div>
</div>
