<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Kai Kretschmann">
<meta name="copyright" content="Kai Kretschmann">
<% if(locals.nocache) { %>
<meta name="robots" content="noindex,nofollow" />
<% } else { %>
<meta name="robots" content="index,follow" />
<% } // if %>
<meta name="google-site-verification" content="<%= authgoogle %>">
<link rel="author" href="https://plus.google.com/+KaiKretschmann/posts">
<link rel="publisher" href="https://plus.google.com/+KaiKretschmann/posts">
<meta property="og:type" content="website">
<meta property="og:site_name" content="<%= projectname %>">
<meta property="og:title" content="<%= title %> - <%= projectname %>">
<meta property="og:description" content="">
<meta property="og:locale" content="en_GB">
<meta name="_csrf" content="<%= csrftoken %>">
<title><%= title %> - <%= projectname %></title>
<link rel='stylesheet' href="/assets/css/shariff.complete.css" />
<link rel='stylesheet' href="/style/screen.min.css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" integrity="sha384-pIrFIoLkb4ShAzISGfPaqiBdVEfrWuOg97ThMRufKm9YjlXIYWIR8sEYI3IwosS6" crossorigin="anonymous">
 
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.min.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>