<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#alibip-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/assets/img/logo_48.png" width="24" height="24" title="<%= projectname %>" alt="<%= projectname %>"></a>
        </div>

        <div class="collapse navbar-collapse" id="alibip-navbar">
            <ul class="nav navbar-nav">
                <li id="home" class="<%= (pagename=='page_'?'active':'') %>"><a href="/">Home</a></li>
                <li id="blog"><a href="<%= projectblog %>/">Blog</a></li>
                <li id="imprint"><a href="<%= projectblog %>/impressum/">Impressum</a></li>
                <li id="about"><a href="<%= projectblog %>/ueber/">Über</a></li>
<%
if(typeof(user) != 'undefined') {
%>
                <li id="mycalendar" class="<%= (pagename=='page_my_calendar'?'active':'') %>"><a href="/my/calendar" title="<%= __('Calendar') %>"><%= __('Calendar') %></a></li>
                <li id="mygrants" class="<%= (pagename=='page_my_grants'?'active':'') %>"><a href="/my/grants" title="<%= __('Grants') %>"><%= __('Grants') %></a></li>
                <li id="profile" class="<%= (pagename=='page_my_profile'?'active':'') %>"><a href="/my/profile" title="<%= __('Profile') %>"><%= __('Profile') %></a></li>
                <li id="logout"><a href="/u/logout" title="Logout from <%= user.email %>">Logout</a></li>
<%
} else {
%>
				<!--  -->
<%
} // if
%>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>