<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
    <% include ../partials/navbar %>
 
    <main class="container">
<div class="row">
<div class="col-md-12 panel panel-default">
  <div id="vocabQuestion" class="panel-body" lang="<%= language.langfrom %>" data-id="<%= vcardfrom.id %>">
    <%= vcardfrom.txtfrom %>
  </div>
</div>
</div>

<div class="row">
<% vcards.forEach(function(vcard){ %>
<div class="col-md-4">
  <input class="btn btn-default btn-block btn-lg vocabAnswer" type="button" value="<%= vcard.txtto %>" lang="<%= language.langto %>" data-id="<%= vcard.id %>">
</div>
<% }) %>
</div>

	</main>
 
    <% include ../partials/footer %>

    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>