<!DOCTYPE html>
<html lang="<%= projectlang %>">
<% include ../partials/header %>
<body class="homepage" id="<%= pagename %>">
    <% include ../partials/navbar %>
  
    <main class="container">
	  	<% include ../partials/flash %>

		<h1><%= __('Grants') %></h1>
		<table id="grantentries" class="table table-hover">
    		<thead>
    			<tr>
    				<th>&nbsp;</th>
    				<th>last used (UTC)</th>
    				<th>visits</th>
    				<th>entry</th>
    				<th>from (UTC)</th><th>to (UTC)</th>
    				<th>&nbsp;</th>
    			</tr>
    		</thead>
    		<tbody>
			</tbody>
		</table>

		<h2><%= __('Legend') %></h2>
		<ul>
			<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<%= __('active') %></li>
			<li><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;<%= __('disabled') %></li>
		</ul>

<div id="grantmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">alibIP Grant token</h4>
      </div>
      <div class="modal-body">
        <dl>
        	<dt>Token</dt><dd id="eventmodal_token"></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    </main>

    <% include ../partials/footer %>
    
    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>