<!DOCTYPE html>
<html lang="<%= projectlang %>">
<% include ../partials/header %>
<body class="homepage" id="<%= pagename %>">
    <% include ../partials/navbar %>
 
    <main class="container">
    	<h1>Recherche</h1>
	   	<% include ../partials/flash %>
	   	<table class="table table-hover" >
    		<thead>
    			<tr>
    				<th>Timestamp</th><th>Until</th><th>IPv4</th><th>IPv6</th>
    			</tr>
    		</thead>
    		<tbody>
	   	<% entries.forEach(function(entry) { %>
	   			<tr data-id="<%= entry.id %>">
	   				<td><%= entry.uts %></td>
	   				<% if(0 === entry.countrefresh) { %>
	   					<td>-</td>
	   				<% } else { %>
	   					<td><%= entry.utsrefresh %> (<%= entry.countrefresh %>x)</td>
	   				<% } %>
		   			<td><%= entry.ipv4 %></td>
		   			<td><%= entry.ipv6 %></td>
	   			</tr>
	   	<% }); %>
	   		</tbody>
	   	</table>
	   	<p>Export as <a href="/ext/lookup_ical">iCal</a></p>
    </main>

    <% include ../partials/footer %>
    
    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>